.App-Products-Row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.App-Products-Box{
    width: 300px;
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 2px;
}